<app-toolbar (showLocationCatagories)="showLocationCatagories($event)"
  (showBranchCatagories)="showBranchCatagories($event)" [locations]="locations"></app-toolbar>

<ng-template #locationSelected>
  <div class="breadcrumb-view">
    <span class="home" (click)="home()">Equipment Catalog</span>
    <span *ngIf="breadcrumbData.category">&nbsp;/&nbsp;{{breadcrumbData.category.name}}</span>
  </div>
  <div class="card-view">
    <mat-card @fadeInOut *ngFor="let category of categories" (click)="showSubCategories(category)">
      <app-catalog-card [category]="category"></app-catalog-card>
    </mat-card>
  </div>
</ng-template>

<ng-template #noLocationSelected>
  <app-welcome></app-welcome>
</ng-template>

<div *ngIf="categories; then locationSelected else noLocationSelected"></div>